<?xml version="1.0"?>
<launch>

  <!--include file="$(find zed_wrapper)/launch/zed.launch" /-->

  <node pkg="ORB_SLAM2" name = "orb_slam" type="Stereo" output="screen" >

    <param name ="do_rectify" value="false" />
    <param name ="do_view" value="true" />
    <param name ="do_save" value="false" />
    <param name ="vocabulary_file" value="$(find ORB_SLAM2)/../../../Vocabulary/ORBvoc.txt" />
    <param name ="stereo_calib_file" value="$(find ORB_SLAM2)/config/zed.yaml" />

    <param name ="camera/left/image" value="/zed/left/image_rect_color" />
    <param name ="camera/right/image" value="/zed/right/image_rect_color" />

  </node>

</launch>